@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;600&display=swap');

.color_16 , .style-kfk4hsfurepeaterButtonlabel , .color_18, .font_0 span{
    font-family: 'Raleway', sans-serif!important;
    font-weight: 600;
    line-height: 26px;
}